body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff; /* Change background color back to white */
    color: #000; /* Change text color to black */
}

.container {
    text-align: center;
}

h1 {
    color: #333; /* Change heading color to a darker shade */
}

#ip-address {
    font-size: 36px; /* Increase font size for the IP address */
    color: blue; /* Change IP address color to blue */
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ddd; /* Change footer background color to a lighter shade */
    color: #444; /* Change footer text color to a darker shade */
    text-align: center;
    padding: 10px 0;
}
